.d3-controls {
    position: absolute;
    right: -1rem;
    padding: 0;
    opacity: 0.7;
    opacity: 0;
    cursor: pointer;
}

.frontend-view:hover .d3-controls {
    opacity: 0.6;
}

.graphics2d-controller {
    position:absolute;
    right:0;
    opacity:0;
}

.graphics2d-controller:hover {
    opacity:1;
}